@model IEnumerable<Ex13_MR.Models.Teacher>

@{
    ViewData["Title"] = "Teachers List";
}

<h1>Teachers List</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
        </tr>
    }
    </tbody>
</table>
<div>
    <a class="btn btn-info" asp-controller="Home" asp-action="Index">Back to Home Page</a>
</div>
